# 4.6 Merging and exporting data Part 1

### This script contains the following points:
#### 1. Check the dimensions of the imported dataframe
#### 2. Merge the new df_ords_prior dataframe with the df_ords dataframe
#### 3. Export merged new df_ords_prior and df_ords data to pkl

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Path to main project folder
path = r'C:\Users\Mark\_Instacart Basket Analysis'

In [3]:
# Retrieve the orders.csv file
df_ords = pd.read_csv(os.path.join(path, '03 Scripts', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [4]:
# Retrieve the order_products__prior.csv file
df_ords_prior = pd.read_csv(os.path.join(path, '03 Scripts', 'Prepared Data', 'order_products__prior.csv'), index_col = False)

#### 1. Check the dimensions of the imported dataframe

In [5]:
# Ensure nothing looks out of place with the imported dataframes
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Ensure nothing looks out of place with the imported dataframes
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,2398795,1,prior,2,3,7,15.0
1,2,473747,1,prior,3,3,12,21.0
2,3,2254736,1,prior,4,4,7,29.0
3,4,431534,1,prior,5,4,15,28.0
4,5,3367565,1,prior,6,2,7,19.0

In [7]:
# See if the data set is large, small, wide, or long.
df_ords_prior.shape

(32434489, 4)

In [8]:
# See if the data set is large, small, wide, or long.
df_ords.shape

(3214874, 8)

#### 2. Merge the new df_ords_prior dataframe with the df_ords dataframe

In [9]:
# Merge the new df_ords_prior dataframe with the df_ords dataframe
# They have a different shape but share the "order_id" column
# The "indicator = True argument" checks for a full match
df_merged_large = df_ords.merge(df_ords_prior, how = 'inner', on = 'order_id', indicator = True)

In [10]:
# Ensure nothing looks out of place with the merged dataframes
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [11]:
# The value_counts() function sums up all the values in the "_merge" column
# to see whether there is a full match or not
df_merged_large['_merge'].value_counts()

both          30356421
right_only           0
left_only            0
Name: _merge, dtype: int64

In [1]:
df_merged_large.shape

NameError: name 'df_merged_large' is not defined

#### 3. Export merged new df_ords_prior and df_ords data to pkl

In [12]:
# Export merged data to pkl
df_merged_large.to_pickle(os.path.join(path, '03 Scripts','Prepared Data', 'orders_products_combined.pkl'))

In [13]:
# Export merged data to csv
df_merged_large.to_csv(os.path.join(path, '03 Scripts','Prepared Data', 'orders_products_combined.csv'))